# daniegauquelin

.ddiv {
	
}

div.ex1 {
	width: 500px;
	margin: auto;
	border: 3px solid;
}

div.ex3 {
	width: 500px;
	margin: auto;
	border: 3px solid #73AD21;
}

div.ex4 {
	max-width: 500px;
	margin: auto;
	border: 3px solid #73AD21;
}

div.a {
	text-align: center;
}

div.b {
	text-align: left;
}

div.c {
	text-align: right;
} 

div.d {
	text-align: justify;
} 

.divbody {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	border-style: none;
	border-radius: 15px 50px 30px;
}


.innnnnput[type=text] {
  	width: 100%;
   	padding: 12px 20px;
   	margin: 8px 0;
   	box-sizing: border-box;
}

.divimg {
  	margin: 5px;
   	/*border: 0px solid #fff;*/
   	float: left;
   	width: 50px;
	}
		
.immmmmmg {
	max-width: 100%;
	height: auto;
}


.pasdebordure {
	border-style: none;
}
		
.bordurenoire {border-style: solid;}

p.solid {border-style: solid;}

p.none {border-style: none;}

.pphidden {border-style: hidden;}

.pointer {cursor: pointer;}

.arial-droite {
	font-family: Arial;
	text-align: Right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
		

.center2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.center3 {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
		
.center55 {
	display: grid;
	place-items: center;
}

.inputt[type=text] {
   	border: none;
   	border-bottom: 2px solid red;
}
		
.inputtt[type=text] {
  	border: 2px solid red;
   	border-radius: 4px;
}
.inputt[type=text] {
   	border: none;
   	border-bottom: 2px solid red;
}

	
/* info bulle */
.tooltip .tooltiptext {
	top: -5px;
  	left: 105%;
}
		
.button2 {background-color: #008CBA;} /* Blue */
		
.button22 {
  	background-color: white; 
   	color: black; 
   	border: 2px solid #008CBA;
}
				
		
.img1 {
  border-radius: 8px;
}

.img2 {
	border-radius: 50%;
}
		
.img3 {
  	position: absolute;
   	right: 0px;
}
		
.img4 {
	position: absolute;
	left: 0px;
}


.right {
	font-family: Arial;
	position: absolute;
	right: 0px;
	width: 300px;
	/* border: 3px solid #73AD21; */
	padding: 10px;
}

.right2 {
	font-family: Arial;
	float: right;
	width: 300px;
	/* border: 3px solid #73AD21; */
  	padding: 10px;
}
		
.valignmiddle {
	vertical-align:middle;
}

.floatleft {
	float:left;
}
		
.formultexx {
	font-size: 20px; 
	border-radius: 4px;
	padding: 9px;
}

.formulbout {
	cursor: pointer; 
	background-color: #008CBA; 
	color:white; 
	font-size:20px; 
	border-radius: 0px 10px 10px 0px; 
	margin: 0px; 
	padding:10px; 
	border:0px ; 
	color:white;
}
		
.formulieu {
	float: left; 
	border-radius: 20px 0px 0px 20px;
}
		
		
.inputt[type=text] {
   	border: none;
   	border-bottom: 2px solid red;
}

.logements5 {
	border-radius: 50%;
}

.logements {
	style="padding:4px;
	border-radius:10px 10px 10px 10px;
}

.loge {
	font-family:Arial;
}

.phot {
	style="margin:4px;
	border-radius:10px;"
}

.centerImg {
	display: block;
	margin: 0 auto;
}

.logerimg {
	display: block;
	margin: 0 auto;
	border-radius: 10px 10px 0px 0px;

}

.logertable {
	margin: 4px;
	border-radius: 10px;
	border-radius: 10px 10px 0px 0px;
}
		


